
.nav-nav{
    display: flex;
    align-items: baseline;
    color: #e6e7e9;
    // background-color: #282c34; 
}   
.caja-logo{
    width: 100px;
    height: auto;
}

a{
    text-decoration: none;
}

.menu-header{
    display: flex;
    padding-left: 21em;
    gap:3em;
}

