
*{
  font-family:"quicksand";
  
  // background-color: #282c34;
}

.main-container {
  display: flex;
 justify-content: center;
  margin-top: 2rem;
  width: 100%;
}


.item-container {
  display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
  margin-top: 2rem;
  width: 100%;
}

.title-sections{

  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2.3px;
}